body {
  @include сerebriSansPro-400;
  font-size: 1rem;
  color: $color-default;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 0.625em;
}

.header__bottom-summ,
.promo__connect-number {
  color: $color-black;
  @include сerebriSansPro-900;
}
