// -------------- Colors -----------------
// color: $color-default;

$color-default: rgb(153, 153, 153);
$color-black: rgb(42, 42, 42);
$color-white: rgb(255, 255, 255);
$color-accent: rgb(127, 173, 57);
$color-light_grey-bg: rgb(245, 245, 245);

// -------------- Fonts ------------------
// @include lato-400;
// font-family: 'CerebriSansPro', sans-serif;
@mixin сerebriSansPro-400 {
  font-family: "CerebriSansPro-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin сerebriSansPro-500 {
  font-family: "CerebriSansPro-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin сerebriSansPro-600 {
  font-family: "CerebriSansPro-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin сerebriSansPro-700 {
  font-family: "CerebriSansPro-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin сerebriSansPro-800 {
  font-family: "CerebriSansPro-ExtraBold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
}

@mixin сerebriSansPro-900 {
  font-family: "CerebriSansPro-Heavy", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}

// font-family: 'Inter', sans-serif;
@mixin inter-400 {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin inter-600 {
  font-family: "Inter-SemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin inter-900 {
  font-family: "Inter-Black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}

// ----------------- Buttons ------------------

// @include book-btn;

@mixin shop-now-btn {
  @include сerebriSansPro-700;
  font-size: 1rem;
  padding: 1.125em 1.25em;
  text-align: center;
  color: $color-white;
  background-color: $color-accent;
}
