// ------------------ Імпорт scss файлів ---------------

@import "vars";

@import "fonts";

@import "optimize";

@import "global";

// ----------------------- Базові стилі ----------------

:root {
  font-size: 0.75em; // 12px
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em; // 14px
  }
}

@media (min-width: 1150px) {
  :root {
    font-size: 1em; // 16px
  }
}

// ---- Header -----
// -- Header top --
.header {
  &__top {
    color: $color-white;
    background-color: $color-black;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    padding: 0.875em 0;
  }

  &__top-offer {
    display: flex;
    gap: 0 1.0625em;
  }

  &__top-social-box {
    display: flex;
    gap: 0 3em;
    @include сerebriSansPro-500;
    font-size: 0.75em;
  }

  &__top-social {
    display: flex;
    gap: 0 1.125em;
  }

  &__top-lang {
    position: relative;
    color: inherit;
    border: none;
    background-color: transparent;

    option {
      color: $color-black;
      background-color: $color-white;
    }
  }

  &__top-login-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 0.625em;
  }

  &__top-login-link:before {
    position: absolute;
    top: 2px;
    left: -18px;
    content: "";
    height: 17px;
    width: 1px;
    background-color: $color-white;
  }
  // -- Header top /end --

  // -- Header bottom --
  &__bottom {
    padding: 34px 0;
    color: $color-black;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
    gap: 0 2.1875em;
  }

  &__bottom-link {
    text-transform: uppercase;
    @include сerebriSansPro-500;
    transition: all 0.3s;
  }

  &__bottom-link:hover {
    color: $color-accent;
  }

  &__bottom-user {
    display: flex;
    gap: 0 15px;
  }

  &__bottom-login {
    position: relative;
  }

  &__bottom-login::before {
    position: absolute;
    content: "";
    top: -6px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: $color-accent;
    border-radius: 50%;
    border: 2px solid $color-white;
  }

  &__bottom-login span {
    position: absolute;
    top: -3px;
    left: 17px;
    font-size: 0.625rem;
    @include сerebriSansPro-800;
    color: $color-white;
  }
  &__bottom-summ {
    margin-left: 2.25em;
  }
  // -- Header bottom /end --
}

// Language list
.dropdown__menu {
  margin-right: 1.25em;
  &-inner {
    position: relative;
  }
  &-inner::after {
    position: absolute;
    top: 0;
    left: 75px;
    width: 20px;
    height: 20px;
    content: "";
    background: url(../images/icons/arrow_down.svg) no-repeat 10px center;
  }
  &-link {
    display: inline-flex;
    gap: 0 0.625em;
    align-items: center;
    text-decoration: none;
    padding: 0.1875em 0.3125em;
  }

  &-list {
    visibility: hidden;
    padding: 0;
    position: absolute;
  }

  .menu__list--active {
    visibility: initial;
    color: $color-white;
    background-color: $color-black;
    display: block;
    width: 110px;
  }

  &-list:hover {
    visibility: visible;
  }
}
// Language list /end

// --------------------- Адаптив сайту ------------------
@import "media";
